<div class="jumbotron text-center">
    <h1>The Homey Page</h1>
    <p>
        <span class="text-danger">Hello </span> {{greeMe}}!!
    </p>
    <a ui-sref=".childA">Route 1</a>
    <a ui-sref=".childB">Route 2</a>
</div>
<div ui-view class="bordered"></div>